<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="smokesuite" verbose="10" parallel="classes">
    <parameter name="url" value="https://spree-vapasi.herokuapp.com;" ></parameter>
    <listeners>
        <listener class-name="tests.utilities.TestNGCustomReportClass"/>
    </listeners>

    <test name="smoke">
        <groups>
        <run>
        <include name="smoke"/>
        </run>
        </groups>

        <classes>
            <class name="tests.SimpleLoginTest" />
            <class name="tests.VerifyCartItemTest" />

        </classes>


    </test>

</suite>

